<div class="span-18">
<h1>Listing all Venues</h1>
<%= paginate @venues %>
<table>
	<tr>
		<th colspan="6" style="text-align:right"><%= link_to 'Add New Venue', new_venue_path %></th>
	</tr>
	<tr>
		<th>Venue Name</th>
		<th>Meeting<br>Capacity</th>
		<th>Catering<br>Capacity</th>
		<th>Room Hire<br>Rates</th>
		<th>Styles</th>
		<th>Meeting<br>Rooms</th>
		<th>Action</th>
	</tr>
	<%- for venue in @venues %>
	<tr>
		<td><%= link_to venue.name, venue_path(venue) %></td>
		<td><%= venue.meeting_capacity %></td>
		<td><%= venue.catering_capacity %></td>
		<td><%= venue.room_hire_rates %></td>
		<td>
		  <%= link_to venue.style.size, venue_styles_path(venue) %>
		</td>
		<td>
		  <%= link_to venue.meeting_room.size, venue_meeting_rooms_path(venue) %>
		</td>
		<td><%= link_to 'Edit', edit_venue_path(venue) %></td>
	</tr>
	<%- end %>
</table>

<%= paginate @venues %>
</div>
<div class="span-4 box last">
<h2>Search</h2>
<%= form_for @search do |f| %>
	<%= f.label :name_contains %>
	<%= f.text_field :name_contains, :size => 25 %><br />
	<%= f.label :postcode_contains %>
	<%= f.text_field :postcode_contains, :size => 25 %><br />

	<%= f.label :catering_capacity_gt %>
	<%= f.number_field :catering_capacity_gt, :size => 25 %><br />
	<%= f.label :meeting_capacity_gt %>
	<%= f.number_field :meeting_capacity_gt, :size => 25 %><br />
	<%= f.label :room_hire_rates_lt %>
	<%= f.number_field :room_hire_rates_lt, :size => 25 %><br />
	
	
  <!-- 
  City
  Venue Style (hotel, arena etc)
  Price 
  -->
  
  
	<%= f.submit "Search" %>
<% end %>
</div>