<div class="span-18">
<h1>Listing all Venues</h1>
<table>
	<tr>
		<th colspan="5" style="text-align:right"><%= link_to 'Add New Venue', new_venue_path %></th>
	</tr>
	<tr>
		<th>Name</th>
		<th>Postcode</th>
		<th>Styles</th>
		<th>Meeting Rooms</th>
		<th>Action</th>
	</tr>
	<%- for venue in @venues %>
	<tr>
		<td><%= link_to venue.name, venue_path(venue) %></td>
		<td><%= venue.postcode %></td>
		<td>
		<ul>
			<%- for style in venue.style -%>
			<li><%= style.style %></li>
			<%- end -%>
		</ul>
		</td>
		<td>
		<ul>
			<%- for room in venue.meeting_room -%>
			<li><%= room.room_name %></li>
			<%- end -%>
		</ul>
		</td>
		<td><%= link_to 'Edit', edit_venue_path(venue) %></td>
	</tr>
	<%- end %>
</table>

<%= paginate @venues %>
</div>
<div class="span-4 box last">
<h2>Search</h2>
<%= form_for @search do |f| %>
	<%= f.label :name_contains %>
	<%= f.text_field :name_contains, :size => 25 %><br />
	<%= f.label :postcode_contains %>
	<%= f.text_field :postcode_contains, :size => 25 %><br />
	<%= f.label :room_hire_rates_lt %>
	<%= f.number_field :room_hire_rates_lt, :size => 25 %><br />
	<%= f.label :meeting_capacity_gt %>
	<%= f.number_field :meeting_capacity_gt, :size => 25 %><br />
	<%= f.submit "Search" %>
<% end %>
</div>