<script type="text/javascript"> 

var map = null;
var geocoder = null;

function showAddress(address) {
  if (geocoder) {
    geocoder.getLatLng(
      address,
      function(point) {
        if (!point) {
          alert(address + " not found");
        } else {
          map.setCenter(point, 13);
          var marker = new GMarker(point);
          map.addOverlay(marker);

          // As this is user-generated content, we display it as
          // text rather than HTML to reduce XSS vulnerabilities.
          marker.openInfoWindow(document.createTextNode(address));
        }
      }
    );
  }
}

function initialize() {
  if (GBrowserIsCompatible()) {
    map = new GMap2(document.getElementById("map_canvas"));
    geocoder = new GClientGeocoder();
    showAddress("<%= @venue.address %>")
  }
}

</script> 
<h1><%= link_to 'Venues', venues_path() %>: <%= @venue.name %></h1>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th width="130">Venue:</th>
    <td><%= @venue.name %> <%= link_to '(edit)', edit_venue_path(@venue) %></td>
  </tr>
  <tr>
    <th>Address:</th>
    <td><%= @venue.address %></td>
  </tr>
  <tr>
    <th>Postcode:</th>
    <td><%= @venue.postcode %></td>
  </tr>
  <tr>
    <th>Telephone:</th>
    <td><%= @venue.telephone %></td>
  </tr>
  <tr>
    <th>Fax:</th>
    <td><%= @venue.fax %></td>
  </tr>
  <tr>
    <th>Website:</th>
    <td><a href="<%= @venue.website %>"><%= @venue.website %></a></td>
  </tr>
  <tr>
    <th>Delegate rates:</th>
    <td>£<%= @venue.delegate_rates %></td>
  </tr>
  <tr>
    <th>Room hire rates:</th>
    <td>£<%= @venue.room_hire_rates %></td>
  </tr>
  <tr>
    <th>Meeting capacity:</th>
    <td><%= @venue.meeting_capacity %></td>
  </tr>
  <tr>
    <th>Catering capacity:</th>
    <td><%= @venue.catering_capacity %></td>
  </tr>
  <tr>
    <th>No bedrooms:</th>
    <td><%= @venue.no_bedrooms %></td>
  </tr>
  <tr>
    <th>Disabled Access:</th>
    <td><%= @venue.disabled_access? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <th>Contacts:</th>
    <td><%= link_to @venue.contact.size, venue_contacts_path(@venue) %></td>
  </tr>
  <tr>
    <th>Meeting Rooms:</th>
    <td><%= link_to @venue.meeting_room.size, venue_meeting_rooms_path(@venue) %></td>
  </tr>
  <tr>
    <th>Styles:</th>
    <td><%= link_to @venue.style.size, venue_styles_path(@venue) %></td>
  </tr>
</table>
<div id="map_canvas" style="width: 950px; height: 300px"></div>
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
