<h1>Contacts: <%= link_to @venue.name, venue_path(@venue) %></h1>
<%= link_to 'New Contact', new_venue_contact_path() %>
<table>
	<tr>
		<th>Contact Name</th>
		<th>Contact Role</th>
		<th>Delete</th>
		
	</tr>
	<%- for contact in @contacts %>
		<tr>
			<td><%= link_to contact.contact_name, [@venue, contact] %></td>
			<td><%= contact.contact_role %></td>
			<td><%= button_to 'Delete', [@venue, contact], :method => :delete, :confirm => "you sure?" %></td>
			
		</tr>
	<%- end%>
</table>
