<h1><%= @nearby_facility.facility %></h1>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th width="130">Nearby Facilities:</th>
    <td><%= @nearby_facility.facility %> <%= link_to '(edit)', edit_venue_nearby_facility_path(@venue, @nearby_facility) %></td>
  </tr>
  <tr>
  <td><%= link_to 'Delete', [@venue, @nearby_facility], :method => :destroy, :confirm => "sure?" %></td></tr>
</table>