<!DOCTYPE html>
<html>
<head>
	<title><%= get_title(@title) %></title> 
	
	<%= include_stylesheets :common, :media => 'screen, projection' %>
	<link rel="stylesheet" href="/stylesheets/print.min.css" type="text/css" media="print"> 
	<!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]--> 
	<meta name="description" content="<%= get_description(@description) %>">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<%= include_javascripts :workspace %>
	<%= csrf_meta_tag %>
</head>
<body>
<div>
	<div class="container">

	<%= yield %>

	</div>
</div>
</body>
</html>
